{% extends 'core/base.html' %}
{% block content %}

<div id="control" hx-ext="ws" ws-connect="/ws/normal/groupB" class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Control Panel</h3>
        </div>
        </div>
        <div class="card-body">
            <p class="card-text">Welcome to control</p>
            <a href="{% url 'index' %}" class="btn btn-secondary mb-3">Volver</a>
            <a href="{% url 'results' %}" class="btn btn-secondary mb-3">Ver resultados previos</a>
            <a href="{% url 'control' %}" class="btn btn-secondary mb-3">Ir a control A</a>
            <div id="form-container">
                <form hx-post="{% url 'start-quiz' %}" hx-target="#form-container" ws-send="start-quiz"
                hx-vals='{"group": "A"}'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="start-quiz"
                    _="on click set #new-element's style.display to 'block' then set #form-container's style.display to 'none' 
                    ">Start Quiz</button>
                </form>
                {% include 'core/partials/online_users.html' %}
            </div>
            <div id="new-element" style="display: none;">
                {% include 'core/partials/control_panelB.html' %}
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}