{% if question %}
<div id="quiz-group-A" hx-swap-oob="outerHTML" class="card mt-4">
    <div class="card-header">
        <h3 class="card-title">Quiz Group A</h3>
        <p class="card-text">{{ group }}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{ question }}</p>
        <p class="card-text">Cuenta</p>
        {% include 'core/partials/count_users.html' %}
        <div class="list-group">
            {% for answer in answers %}
            <form id="groupA" hx-post="{% url 'start-quiz' %}" hx-target="#quiz-group-A" ws-send="answer-quiz" 
                hx-vals='{"group": "B", "question": "{{count}}", "answer": "{{ answer }}", "user": "{{ user}}"}' class="mb-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">{{ answer }}</button>
            </form>
            {% endfor %}
        </div>
        {% include 'core/partials/user_answer_B.html' %}
    </div>
</div>
{% endif %}